In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
mkup = pd.read_csv('../data/cscpopendata.csv')

In [3]:
mkup.head()

,CDPHId,ProductName,CSFId,CSF,CompanyId,CompanyName,BrandName,PrimaryCategoryId,PrimaryCategory,SubCategoryId,...,CasNumber,ChemicalId,ChemicalName,InitialDateReported,MostRecentDateReported,DiscontinuedDate,ChemicalCreatedAt,ChemicalUpdatedAt,ChemicalDateRemoved,ChemicalCount
0,2,ULTRA COLOR RICH EXTRA PLUMP LIPSTICK-ALL SHADES,NaN,NaN,4,New Avon LLC,AVON,44,Makeup Products (non-permanent),53,...,13463-67-7,6,Titanium dioxide,06/17/2009,08/28/2013,02/01/2011,07/09/2009,07/09/2009,NaN,1
1,3,Glover's Medicated Shampoo,NaN,NaN,338,J. Strickland & Co.,Glover's,18,Hair Care Products (non-coloring),25,...,65996-92-1,4,Distillates (coal tar),07/01/2009,07/01/2009,NaN,07/01/2009,07/01/2009,NaN,2
2,3,Glover's Medicated Shampoo,NaN,NaN,338,J. Strickland & Co.,Glover's,18,Hair Care Products (non-coloring),25,...,140-67-0,5,Estragole,07/01/2009,07/01/2009,NaN,07/02/2009,07/02/2009,NaN,2
3,4,PRECISION GLIMMER EYE LINER-ALL SHADES �,NaN,NaN,4,New Avon LLC,AVON,44,Makeup Products (non-permanent),46,...,13463-67-7,7,Titanium dioxide,07/09/2009,08/28/2013,NaN,07/09/2009,07/09/2009,NaN,1
4,5,AVON BRILLIANT SHINE LIP GLOSS-ALL SHADES �,NaN,NaN,4,New Avon LLC,AVON,44,Makeup Products (non-permanent),52,...,13463-67-7,8,Titanium dioxide,07/09/2009,08/28/2013,02/01/2011,07/09/2009,07/09/2009,NaN,1

In [4]:
# pd.set_option("display.max_columns", 999)

In [5]:
mkup.head()

,CDPHId,ProductName,CSFId,CSF,CompanyId,CompanyName,BrandName,PrimaryCategoryId,PrimaryCategory,SubCategoryId,...,CasNumber,ChemicalId,ChemicalName,InitialDateReported,MostRecentDateReported,DiscontinuedDate,ChemicalCreatedAt,ChemicalUpdatedAt,ChemicalDateRemoved,ChemicalCount
0,2,ULTRA COLOR RICH EXTRA PLUMP LIPSTICK-ALL SHADES,NaN,NaN,4,New Avon LLC,AVON,44,Makeup Products (non-permanent),53,...,13463-67-7,6,Titanium dioxide,06/17/2009,08/28/2013,02/01/2011,07/09/2009,07/09/2009,NaN,1
1,3,Glover's Medicated Shampoo,NaN,NaN,338,J. Strickland & Co.,Glover's,18,Hair Care Products (non-coloring),25,...,65996-92-1,4,Distillates (coal tar),07/01/2009,07/01/2009,NaN,07/01/2009,07/01/2009,NaN,2
2,3,Glover's Medicated Shampoo,NaN,NaN,338,J. Strickland & Co.,Glover's,18,Hair Care Products (non-coloring),25,...,140-67-0,5,Estragole,07/01/2009,07/01/2009,NaN,07/02/2009,07/02/2009,NaN,2
3,4,PRECISION GLIMMER EYE LINER-ALL SHADES �,NaN,NaN,4,New Avon LLC,AVON,44,Makeup Products (non-permanent),46,...,13463-67-7,7,Titanium dioxide,07/09/2009,08/28/2013,NaN,07/09/2009,07/09/2009,NaN,1
4,5,AVON BRILLIANT SHINE LIP GLOSS-ALL SHADES �,NaN,NaN,4,New Avon LLC,AVON,44,Makeup Products (non-permanent),52,...,13463-67-7,8,Titanium dioxide,07/09/2009,08/28/2013,02/01/2011,07/09/2009,07/09/2009,NaN,1

In [6]:
cosmetics = pd.read_csv('../data/cosmetics.csv')

In [7]:
cosmetics

,Label,Brand,Name,Price,Rank,Ingredients,Combination,Dry,Normal,Oily,Sensitive
0,Moisturizer,LA MER,Crème de la Mer,175,4.1,"Algae (Seaweed) Extract, Mineral Oil, Petrolat...",1,1,1,1,1
1,Moisturizer,SK-II,Facial Treatment Essence,179,4.1,"Galactomyces Ferment Filtrate (Pitera), Butyle...",1,1,1,1,1
2,Moisturizer,DRUNK ELEPHANT,Protini™ Polypeptide Cream,68,4.4,"Water, Dicaprylyl Carbonate, Glycerin, Ceteary...",1,1,1,1,0
3,Moisturizer,LA MER,The Moisturizing Soft Cream,175,3.8,"Algae (Seaweed) Extract, Cyclopentasiloxane, P...",1,1,1,1,1
4,Moisturizer,IT COSMETICS,Your Skin But Better™ CC+™ Cream with SPF 50+,38,4.1,"Water, Snail Secretion Filtrate, Phenyl Trimet...",1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...
1467,Sun protect,KORRES,Yoghurt Nourishing Fluid Veil Face Sunscreen B...,35,3.9,"Water, Alcohol Denat., Potassium Cetyl Phospha...",1,1,1,1,1
1468,Sun protect,KATE SOMERVILLE,Daily Deflector™ Waterlight Broad Spectrum SPF...,48,3.6,"Water, Isododecane, Dimethicone, Butyloctyl Sa...",0,0,0,0,0
1469,Sun protect,VITA LIBERATA,Self Tan Dry Oil SPF 50,54,3.5,"Water, Dihydroxyacetone, Glycerin, Sclerocarya...",0,0,0,0,0
1470,Sun protect,ST. TROPEZ TANNING ESSENTIALS,Pro Light Self Tan Bronzing Mist,20,1.0,"Water, Dihydroxyacetone, Propylene Glycol, PPG...",0,0,0,0,0
1471,Sun protect,DERMAFLASH,DERMAPROTECT Daily Defense Broad Spectrum SPF 50+,45,0.0,Visit the DERMAFLASH boutique,1,1,1,1,1

In [8]:
cosmetics.columns

Index(['Label', 'Brand', 'Name', 'Price', 'Rank', 'Ingredients', 'Combination',
       'Dry', 'Normal', 'Oily', 'Sensitive'],
      dtype='object')

In [9]:
mkup.dtypes

CDPHId                      int64
ProductName                object
CSFId                     float64
CSF                        object
CompanyId                   int64
CompanyName                object
BrandName                  object
PrimaryCategoryId           int64
PrimaryCategory            object
SubCategoryId               int64
SubCategory                object
CasId                       int64
CasNumber                  object
ChemicalId                  int64
ChemicalName               object
InitialDateReported        object
MostRecentDateReported     object
DiscontinuedDate           object
ChemicalCreatedAt          object
ChemicalUpdatedAt          object
ChemicalDateRemoved        object
ChemicalCount               int64
dtype: object

In [10]:
# checking for mising values
mkup.isnull().sum()

CDPHId                         0
ProductName                    0
CSFId                      33973
CSF                        34398
CompanyId                      0
CompanyName                    0
BrandName                    227
PrimaryCategoryId              0
PrimaryCategory                0
SubCategoryId                  0
SubCategory                    0
CasId                          0
CasNumber                   6476
ChemicalId                     0
ChemicalName                   0
InitialDateReported            0
MostRecentDateReported         0
DiscontinuedDate          101715
ChemicalCreatedAt              0
ChemicalUpdatedAt              0
ChemicalDateRemoved       111650
ChemicalCount                  0
dtype: int64

In [11]:
list = mkup["ChemicalName"].unique()

In [12]:
list

array(['Titanium dioxide', 'Distillates (coal tar)', 'Estragole',
       'Cocamide diethanolamine', 'Toluene',
       'Chromium (hexavalent compounds)', 'Retinol',
       'Retinol/retinyl esters, when in daily dosages in excess of 10,000 IU, or 3,000 retinol equivalents.',
       'Vitamin A', 'Vitamin A palmitate', 'Butylated hydroxyanisole',
       'Coffea arabica extract', 'Lauramide diethanolamine', 'Coffee',
       'Silica, crystalline (airborne particles of respirable size)',
       'Carbon black (airborne, unbound particles of respirable size)',
       'Carbon black', 'Genistein (purified)', 'Progesterone',
       '2,4-Hexadienal (89% trans, trans isomer; 11% cis, trans isomer)',
       'Methyleugenol', 'Carbon-black extracts', 'Retinyl palmitate',
       'o-Phenylphenol', 'Acrylamide', 'Formaldehyde (gas)',
       'Ginkgo biloba extract', 'Mica', 'Ethylene glycol',
       'Acetic acid, retinyl ester', 'Ethyl acrylate', 'Trade Secret',
       'Methanol', 'Mineral oils, untreated and mildly treated',
       'Diethanolamine', 'TEA-Lauryl Sulfate', 'Retinyl acetate',
       'Lead acetate', 'Talc', 'Triethanolamine',
       'o-Phenylenediamine and its salts', 'Safrole', 'Styrene',
       'Acetaldehyde', 'Cocamide DEA', '1,4-Dioxane',
       'Arsenic (inorganic arsenic compounds)', 'Dichloroacetic acid',
       'Ethylene oxide', 'Lead', 'Dichloromethane (Methylene chloride)',
       'Benzene', 'Benzyl chloride', 'N-Nitrosodimethylamine',
       'Propylene oxide', 'Methyl chloride',
       'Cadmium and cadmium compounds', 'N-Methylpyrrolidone',
       'Di-n-butyl phthalate (DBP)', 'Coal tars',
       'All-trans retinoic acid', 'Quinoline and its strong acid salts',
       'Methylene glycol', 'Benzophenone', 'Cocamide', 'Lauramide DEA',
       'Aloe vera, whole leaf extract', 'Musk xylene', 'Aspirin',
       'Coal Tar', 'Benzophenone-3', 'Quartz',
       'Talc containing asbestiform fibers', 'Sodium Bromate',
       'Phenacetin', 'Arsenic (inorganic oxides)',
       'Mercury and mercury compounds', 'p-Aminodiphenylamine',
       'Permethrin', 'Acetylsalicylic acid', 'Coal tar extract',
       'Selenium sulfide', 'Oil Orange SS', 'Spironolactone',
       'Nickel (Metallic)', 'Caffeic acid', 'Cocamide MEA',
       'Cosmetic talc', 'C.I. Acid Red 114', 'Caffeine', 'Benzophenone-4',
       'Ethanol in alcoholic beverages', 'Formaldehyde',
       'Cocamide diethanolamine (DEA)', 'Coffee extract',
       'Retinol palmitate', 'Coffee bean extract',
       'Propylene glycol mono-t-butyl ether', 'Avobenzone',
       'Coal tar solution', 'Pulegone',
       'Titanium dioxide (airborne, unbound particles of respirable size)',
       'beta-Myrcene', 'Talc (powder)',
       '2,2-Bis(bromomethyl)-1,3-propanediol', 'Benzo[a]pyrene',
       'Benz[a]anthracene', 'Extract of coffee bean',
       'Goldenseal root powder',
       'Isopropyl alcohol manufacture using strong acids',
       '2-Propyleneacrolein', 'N,N-Dimethyl-p-toluidine',
       'Formaldehyde solution', 'N-Nitrosodiethanolamine',
       'Benzophenone-2', 'Vinyl acetate', 'Trichloroacetic acid',
       'Phenacemide', 'Aloe vera, non-decolorized whole leaf extract',
       'Polygeenan', 'Diethanolamides of the fatty acids of coconut oil',
       'Bisphenol A (BPA)', 'Hydrous magnesium silicate'], dtype=object)

In [13]:
len(list)

123

In [14]:
mkup.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114635 entries, 0 to 114634
Data columns (total 22 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   CDPHId                  114635 non-null  int64
 1   ProductName             114635 non-null  object
 2   CSFId                   80662 non-null   float64
 3   CSF                     80237 non-null   object
 4   CompanyId               114635 non-null  int64
 5   CompanyName             114635 non-null  object
 6   BrandName               114408 non-null  object
 7   PrimaryCategoryId       114635 non-null  int64
 8   PrimaryCategory         114635 non-null  object
 9   SubCategoryId           114635 non-null  int64
 10  SubCategory             114635 non-null  object
 11  CasId                   114635 non-null  int64
 12  CasNumber               108159 non-null  object
 13  ChemicalId              114635 non-null  int64
 14  ChemicalName            114635 non-null  object
 15  InitialDateReported     114635 non-null  object
 16  MostRecentDateReported  114635 non-null  object
 17  DiscontinuedDate        12920 non-null   object
 18  ChemicalCreatedAt       114635 non-null  object
 19  ChemicalUpdatedAt       114635 non-null  object
 20  ChemicalDateRemoved     2985 non-null    object
 21  ChemicalCount           114635 non-null  int64
dtypes: float64(1), int64(7), object(14)
memory usage: 19.2+ MB

In [15]:
mkup.shape

(114635, 22)

In [16]:
mkup['InitialDateReported'] = pd.to_datetime(mkup['InitialDateReported'], format='%m/%d/%Y')

In [17]:
mkup['DiscontinuedDate'] = pd.to_datetime(mkup['DiscontinuedDate'], format='%m/%d/%Y')

In [18]:
mkup['ChemicalCreatedAt'] = pd.to_datetime(mkup['ChemicalCreatedAt'], format='%m/%d/%Y')

In [19]:
mkup['ChemicalDateRemoved'] = pd.to_datetime(mkup['ChemicalDateRemoved'], format='%m/%d/%Y')

In [20]:
mkup.dtypes

CDPHId                             int64
ProductName                       object
CSFId                            float64
CSF                               object
CompanyId                          int64
CompanyName                       object
BrandName                         object
PrimaryCategoryId                  int64
PrimaryCategory                   object
SubCategoryId                      int64
SubCategory                       object
CasId                              int64
CasNumber                         object
ChemicalId                         int64
ChemicalName                      object
InitialDateReported       datetime64[ns]
MostRecentDateReported            object
DiscontinuedDate          datetime64[ns]
ChemicalCreatedAt         datetime64[ns]
ChemicalUpdatedAt                 object
ChemicalDateRemoved       datetime64[ns]
ChemicalCount                      int64
dtype: object

In [21]:
# # Dropping the unnecessary colunms
mkup = mkup.drop(columns = ["CSFId", "CSF", "CompanyId",
                     "PrimaryCategoryId", "SubCategoryId", "CasNumber", "CasId", "MostRecentDateReported", "ChemicalUpdatedAt", "ChemicalId"])

In [22]:
mkup.head()

,CDPHId,ProductName,CompanyName,BrandName,PrimaryCategory,SubCategory,ChemicalName,InitialDateReported,DiscontinuedDate,ChemicalCreatedAt,ChemicalDateRemoved,ChemicalCount
0,2,ULTRA COLOR RICH EXTRA PLUMP LIPSTICK-ALL SHADES,New Avon LLC,AVON,Makeup Products (non-permanent),"Lip Color - Lipsticks, Liners, and Pencils",Titanium dioxide,2009-06-17,2011-02-01,2009-07-09,NaT,1
1,3,Glover's Medicated Shampoo,J. Strickland & Co.,Glover's,Hair Care Products (non-coloring),Hair Shampoos (making a cosmetic claim),Distillates (coal tar),2009-07-01,NaT,2009-07-01,NaT,2
2,3,Glover's Medicated Shampoo,J. Strickland & Co.,Glover's,Hair Care Products (non-coloring),Hair Shampoos (making a cosmetic claim),Estragole,2009-07-01,NaT,2009-07-02,NaT,2
3,4,PRECISION GLIMMER EYE LINER-ALL SHADES �,New Avon LLC,AVON,Makeup Products (non-permanent),Eyeliner/Eyebrow Pencils,Titanium dioxide,2009-07-09,NaT,2009-07-09,NaT,1
4,5,AVON BRILLIANT SHINE LIP GLOSS-ALL SHADES �,New Avon LLC,AVON,Makeup Products (non-permanent),Lip Gloss/Shine,Titanium dioxide,2009-07-09,2011-02-01,2009-07-09,NaT,1

In [23]:
# check the total rows and columns
mkup.shape

(114635, 12)

In [24]:
mkup.isnull().sum()

CDPHId                      0
ProductName                 0
CompanyName                 0
BrandName                 227
PrimaryCategory             0
SubCategory                 0
ChemicalName                0
InitialDateReported         0
DiscontinuedDate       101715
ChemicalCreatedAt           0
ChemicalDateRemoved    111650
ChemicalCount               0
dtype: int64

In [25]:
# checking duplicate rows
mkup.duplicated().sum()

67664

In [26]:
mkup.dtypes

CDPHId                          int64
ProductName                    object
CompanyName                    object
BrandName                      object
PrimaryCategory                object
SubCategory                    object
ChemicalName                   object
InitialDateReported    datetime64[ns]
DiscontinuedDate       datetime64[ns]
ChemicalCreatedAt      datetime64[ns]
ChemicalDateRemoved    datetime64[ns]
ChemicalCount                   int64
dtype: object

In [27]:
mkup.nunique()

CDPHId                 36972
ProductName            33716
CompanyName              606
BrandName               2713
PrimaryCategory           13
SubCategory               89
ChemicalName             123
InitialDateReported     2274
DiscontinuedDate         991
ChemicalCreatedAt       2320
ChemicalDateRemoved      524
ChemicalCount             10
dtype: int64

In [28]:
# checking columns names
mkup.columns

Index(['CDPHId', 'ProductName', 'CompanyName', 'BrandName', 'PrimaryCategory',
       'SubCategory', 'ChemicalName', 'InitialDateReported',
       'DiscontinuedDate', 'ChemicalCreatedAt', 'ChemicalDateRemoved',
       'ChemicalCount'],
      dtype='object')

In [29]:
# dropping duplicates values
# mkup.drop_duplicates(inplace=True)

In [30]:
mkup.head()

,CDPHId,ProductName,CompanyName,BrandName,PrimaryCategory,SubCategory,ChemicalName,InitialDateReported,DiscontinuedDate,ChemicalCreatedAt,ChemicalDateRemoved,ChemicalCount
0,2,ULTRA COLOR RICH EXTRA PLUMP LIPSTICK-ALL SHADES,New Avon LLC,AVON,Makeup Products (non-permanent),"Lip Color - Lipsticks, Liners, and Pencils",Titanium dioxide,2009-06-17,2011-02-01,2009-07-09,NaT,1
1,3,Glover's Medicated Shampoo,J. Strickland & Co.,Glover's,Hair Care Products (non-coloring),Hair Shampoos (making a cosmetic claim),Distillates (coal tar),2009-07-01,NaT,2009-07-01,NaT,2
2,3,Glover's Medicated Shampoo,J. Strickland & Co.,Glover's,Hair Care Products (non-coloring),Hair Shampoos (making a cosmetic claim),Estragole,2009-07-01,NaT,2009-07-02,NaT,2
3,4,PRECISION GLIMMER EYE LINER-ALL SHADES �,New Avon LLC,AVON,Makeup Products (non-permanent),Eyeliner/Eyebrow Pencils,Titanium dioxide,2009-07-09,NaT,2009-07-09,NaT,1
4,5,AVON BRILLIANT SHINE LIP GLOSS-ALL SHADES �,New Avon LLC,AVON,Makeup Products (non-permanent),Lip Gloss/Shine,Titanium dioxide,2009-07-09,2011-02-01,2009-07-09,NaT,1

In [31]:
mkup.duplicated().sum()

67664

In [32]:
# dropping duplicates values
mkup = mkup.drop_duplicates()

In [33]:
mkup.duplicated().sum()

0

In [34]:
mkup.shape

(46971, 12)

In [35]:
new_data2 = mkup.groupby(['ProductName', 'BrandName', 'CompanyName', 'PrimaryCategory', 'SubCategory', 'InitialDateReported', 'DiscontinuedDate', 'ChemicalCreatedAt', 
                           'ChemicalDateRemoved', 'ChemicalCount'],dropna=False)['ChemicalName'].apply(lambda x: ', '.join(x)).reset_index()

In [36]:
new_data2.head()

,ProductName,BrandName,CompanyName,PrimaryCategory,SubCategory,InitialDateReported,DiscontinuedDate,ChemicalCreatedAt,ChemicalDateRemoved,ChemicalCount,ChemicalName
0,""" ROUGE DIOR ULTRA CARE LIQUID Flower Oil Liqu...",Parfums Christian Dior,Parfums Christian Dior,Makeup Products (non-permanent),Lip Gloss/Shine,2019-07-15,NaT,2019-07-15,NaT,1,Titanium dioxide
1,"""DIOR PRESTIGE LE MICRO-FLUIDE TEINT DE ROSE M...",Parfums Christian Dior,Parfums Christian Dior,Makeup Products (non-permanent),Foundations and Bases,2019-07-12,NaT,2019-07-12,NaT,1,Titanium dioxide
2,"""Hello Flawless!"" SPF 15",Benefit Cosmetics,Benefit Cosmetics,Makeup Products (non-permanent),Foundations and Bases,2009-12-15,NaT,2009-12-15,NaT,1,Titanium dioxide
3,"""I'm Glam...Therefore I Am"" - Glamming Powder I",Benefit Cosmetics,Benefit Cosmetics,Makeup Products (non-permanent),Face Powders,2012-10-09,NaT,2012-10-09,NaT,1,Titanium dioxide
4,"""My dream lather"" Soap 'Bar",Odd Molly,"CCS, Clean Chemical Sweden AB",Bath Products,Body Washes and Soaps,2010-05-17,NaT,2010-05-17,NaT,1,Titanium dioxide

In [37]:
# new_data2.to_csv("new_data2.csv", index=False)

In [38]:
# checking to see how many products contain Titanium dioxide. in the entire df 35132 out of 41408 = Only 6276 products do not contain Titanium dioxide
Titanium_dioxide = new_data2[new_data2['ChemicalName'].str.contains('Titanium dioxide',case=False, na=False)]

In [39]:
# Titanium_dioxide.to_csv("Titanium_dioxide.csv", index=False)

In [40]:
# mkup["CSF"].unique()

In [41]:
# mkup["CSF"].nunique()

# Q1- total numbers of chemicals counts

In [43]:
chemical_counts = new_data2['ChemicalName'].value_counts().reset_index()

In [44]:
chemical_counts.head(20)

                                         ChemicalName  count
0                                    Titanium dioxide  31133
1                             Cocamide diethanolamine    938
2   Titanium dioxide, Silica, crystalline (airborn...    720
3   Retinol/retinyl esters, when in daily dosages ...    570
4                                   Retinyl palmitate    424
5                                        Trade Secret    406
6                              Talc, Titanium dioxide    351
7   Silica, crystalline (airborne particles of res...    337
8                      Titanium dioxide, Carbon black    330
9                                     Triethanolamine    306
10                                Vitamin A palmitate    282
11                           Butylated hydroxyanisole    278
12                                       Carbon black    272
13  Silica, crystalline (airborne particles of res...    267
14                             Mica, Titanium dioxide    223
15                                       Cocamide DEA    210
16                             Titanium dioxide, Mica    160
17                 Titanium dioxide, Titanium dioxide    154
18         Mineral oils, untreated and mildly treated    144
19  Retinol/retinyl esters, when in daily dosages ...    143

In [45]:
# chemical_counts.to_csv("chemical_counts.csv")

In [46]:
# mkup[mkup["ProductName"] == "Moisturizing Shampoo"]

In [47]:
# chemical_counts = mkup[['ProductName', 'CompanyName', 'BrandName', 'ChemicalCount']].drop_duplicates()

In [48]:
# chemical_counts

In [49]:
# https://stackoverflow.com/questions/27174009/python-pandas-concatenate-rows-with-unique-values

In [50]:
# new_df = chemical_counts.merge(mkup[['ProductName', 'CompanyName', 'BrandName', 'ChemicalName', 'PrimaryCategory']],
#                                                   left_on=['ProductName', 'CompanyName', 'BrandName'],
#                                                   right_on=['ProductName', 'CompanyName', 'BrandName']).drop_duplicates()

In [51]:
# new_data = new_df.groupby(['ProductName', 'BrandName', 'CompanyName', 'PrimaryCategory'])['ChemicalName'].apply(lambda x: ', '.join(x)).reset_index()

In [52]:
new_data2.isnull().sum()

ProductName                0
BrandName                 92
CompanyName                0
PrimaryCategory            0
SubCategory                0
InitialDateReported        0
DiscontinuedDate       36265
ChemicalCreatedAt          0
ChemicalDateRemoved    39882
ChemicalCount              0
ChemicalName               0
dtype: int64

In [53]:
new_data2.duplicated().sum()

0

In [54]:
new_data2.dtypes

ProductName                    object
BrandName                      object
CompanyName                    object
PrimaryCategory                object
SubCategory                    object
InitialDateReported    datetime64[ns]
DiscontinuedDate       datetime64[ns]
ChemicalCreatedAt      datetime64[ns]
ChemicalDateRemoved    datetime64[ns]
ChemicalCount                   int64
ChemicalName                   object
dtype: object

In [55]:
new_data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41408 entries, 0 to 41407
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ProductName          41408 non-null  object
 1   BrandName            41316 non-null  object
 2   CompanyName          41408 non-null  object
 3   PrimaryCategory      41408 non-null  object
 4   SubCategory          41408 non-null  object
 5   InitialDateReported  41408 non-null  datetime64[ns]
 6   DiscontinuedDate     5143 non-null   datetime64[ns]
 7   ChemicalCreatedAt    41408 non-null  datetime64[ns]
 8   ChemicalDateRemoved  1526 non-null   datetime64[ns]
 9   ChemicalCount        41408 non-null  int64
 10  ChemicalName         41408 non-null  object
dtypes: datetime64[ns](4), int64(1), object(6)
memory usage: 3.5+ MB

In [56]:
new_data2[(new_data2['ProductName'] == 'Moisturizing Shampoo')]

,ProductName,BrandName,CompanyName,PrimaryCategory,SubCategory,InitialDateReported,DiscontinuedDate,ChemicalCreatedAt,ChemicalDateRemoved,ChemicalCount,ChemicalName
24662,Moisturizing Shampoo,Diamond Shine,"Zotos International, Inc.",Hair Care Products (non-coloring),Hair Shampoos (making a cosmetic claim),2014-09-30,2015-02-03,2014-09-30,NaT,1,Titanium dioxide
24663,Moisturizing Shampoo,Regis Design Line,Regis Corporation,Hair Care Products (non-coloring),Hair Shampoos (making a cosmetic claim),2014-02-04,NaT,2014-02-04,NaT,9,"1,4-Dioxane, Acrylamide, Arsenic (inorganic ar..."
24664,Moisturizing Shampoo,Rusk,Apollo Health and Beauty Care,Hair Care Products (non-coloring),Hair Shampoos (making a cosmetic claim),2011-08-05,NaT,2011-08-05,NaT,1,Titanium dioxide

In [57]:
# new_data[new_data['ChemicalName'].str.contains('Titanium dioxide',case=False, na=False)]

In [58]:
new_data2[(new_data2['ProductName'] == 'ROUGE DIOR Couleur Eclatante Hydratation et Galbe Replenishing LipColor')]

,ProductName,BrandName,CompanyName,PrimaryCategory,SubCategory,InitialDateReported,DiscontinuedDate,ChemicalCreatedAt,ChemicalDateRemoved,ChemicalCount,ChemicalName
30660,ROUGE DIOR Couleur Eclatante Hydratation et Ga...,Parfums Christian Dior,Parfums Christian Dior,Makeup Products (non-permanent),"Lip Color - Lipsticks, Liners, and Pencils",2009-10-20,NaT,2009-11-19,NaT,1,Titanium dioxide

In [59]:
# makup2 = mkup

In [60]:
# # the total numbers of rows don't match with new_data rows?
# makup2 = mkup2.merge(new_data[['ProductName', 'CompanyName', 'BrandName']],
#                                                   left_on=['ProductName', 'CompanyName', 'BrandName'],
#                                                   right_on=['ProductName', 'CompanyName', 'BrandName']).drop_duplicates()

In [61]:
# # i'm trying another way but this give me duplicates columns
# new_data.merge( mkup2,  on=['ProductName', 'CompanyName', 'BrandName'],  how='left' ).drop_duplicates()

In [62]:
# m = mkup.groupby(['ProductName', 'BrandName', 'CompanyName']).agg({
#     'ChemicalName': lambda col: ', '.join(col)}).reset_index()

In [63]:
# m.ChemicalName.value_counts()

In [64]:
# m[m["ChemicalName"] == "Titanium dioxide"]

In [65]:
# https://stackoverflow.com/questions/27975069/how-to-filter-rows-containing-a-string-pattern-from-a-pandas-dataframe

In [66]:
# df[df['ids'].str.contains("ball")]
# m[m["ChemicalName"].str.contains("Titanium dioxide")]

# Q2- Are newer products less likely to contain hazardous chemicals compared to older ones?

In [68]:
new_data2['ChemicalCreatedAt'].dt.year.value_counts().sort_index()

ChemicalCreatedAt
2009    9468
2010    5756
2011    1597
2012    1783
2013    2721
2014    3143
2015    2884
2016    2289
2017    3255
2018    2697
2019    4991
2020     824
Name: count, dtype: int64

In [69]:
new_data2['year']=new_data2['InitialDateReported'].dt.year.sort_values()

In [70]:
# before_2015 =new_data2[(new_data2['DiscontinuedDate'].isna()) & (new_data2['year']< 2015)]

In [71]:
# after_2015=new_data2[(new_data2['DiscontinuedDate'].isna()) & (new_data2['year'] >2015)]

# Q3- How long do products containing hazardous chemicals stay on the market before being discontinued or reformulated?

# Q4- Are certain hazardous chemicals more common in specific types of cosmetics?

# Q5- Are companies removing harmful chemicals over time, or are they continuing to use them?

In [75]:
# trying to see how many chemicals still in use and how many removed. True - chemicals removed, False- chemical still use
new_data2['ChemicalDateRemoved'].notna().value_counts()

ChemicalDateRemoved
False    39882
True      1526
Name: count, dtype: int64

In [76]:
# adding a column to get just the yr for eachrow
new_data2['created_yr'] = new_data2['ChemicalCreatedAt'].dt.year

In [77]:
# adding a column to get yr for removed
new_data2['removed_yr'] = new_data2['ChemicalDateRemoved'].dt.year

In [78]:
# grouping by created_yr column to see how many product were first reported
created_yr = new_data2.groupby('created_yr')['ProductName'].count()

In [79]:
created_yr

created_yr
2009    9468
2010    5756
2011    1597
2012    1783
2013    2721
2014    3143
2015    2884
2016    2289
2017    3255
2018    2697
2019    4991
2020     824
Name: ProductName, dtype: int64

In [80]:
yearly_reporting_trend = new_data2.groupby(['created_yr', 'BrandName', 'ProductName']).size().reset_index(name='chemical_count')

In [81]:
yearly_reporting_trend.head()

,created_yr,BrandName,ProductName,chemical_count
0,2009,100% natural origin,Cream balm,1
1,2009,100% natural origin,Loose pearls,1
2,2009,100% natural origin,Loose powder foundation,1
3,2009,100% natural origin,Sunny glow foundation,1
4,2009,2 Cruel,Romane 2 Cruel Sugar Body Polish,1

In [82]:
# yearly_reporting_trend.to_csv("yearly_reporting_trend.csv")

In [83]:
# new_data2.groupby(['created_yr', 'BrandName']).size().reset_index(name='count')

In [84]:
# created_yr.to_csv("created_yr.csv")

In [85]:
# grouping by removed_yr column to see how many product removed by year
removed_yr = new_data2.groupby('removed_yr')['ProductName'].count()

In [86]:
removed_yr

removed_yr
2000.0      1
2006.0      2
2009.0    402
2010.0    182
2011.0     82
2012.0    128
2013.0    309
2014.0     89
2015.0     40
2016.0     57
2017.0     33
2018.0     78
2019.0     63
2020.0     17
2103.0     42
2104.0      1
Name: ProductName, dtype: int64

In [87]:
yearly_removing_trend = new_data2.groupby(['removed_yr', 'BrandName', 'ProductName']).size().reset_index(name='chemical_count')

In [88]:
yearly_removing_trend.head()

,removed_yr,BrandName,ProductName,chemical_count
0,2000.0,RITUALS,Elixir Collection Scalp Therapy Elixir,1
1,2006.0,Central,Whirlpool Shampoo & Body Wash,2
2,2009.0,Aloe Up Lil' Kids SPF 45 Aloe Based Sunscreen ...,Aloe Up Lil' Kids SPF 45 Aloe Based Sunscreen ...,1
3,2009.0,Aloette,Creme-to-Powder,1
4,2009.0,Aloette,Pro-Lipid Refine,1

In [89]:
# yearly_removing_trend.to_csv("yearly_removing_trend.csv")

In [90]:
# removed_yr.to_csv("removed_yr.csv")

In [91]:
# mkup[mkup["removed_yr"] == "winter wish list eye set palette"]

In [92]:
# mkup[mkup["CompanyName"] == "Apollo Health and Beauty Care"]

# Q6- Which PrimaryCategory has the highest number of chemicals associated with it?

In [94]:
new_data2.head(2)

,ProductName,BrandName,CompanyName,PrimaryCategory,SubCategory,InitialDateReported,DiscontinuedDate,ChemicalCreatedAt,ChemicalDateRemoved,ChemicalCount,ChemicalName,year,created_yr,removed_yr
0,""" ROUGE DIOR ULTRA CARE LIQUID Flower Oil Liqu...",Parfums Christian Dior,Parfums Christian Dior,Makeup Products (non-permanent),Lip Gloss/Shine,2019-07-15,NaT,2019-07-15,NaT,1,Titanium dioxide,2019,2019,NaN
1,"""DIOR PRESTIGE LE MICRO-FLUIDE TEINT DE ROSE M...",Parfums Christian Dior,Parfums Christian Dior,Makeup Products (non-permanent),Foundations and Bases,2019-07-12,NaT,2019-07-12,NaT,1,Titanium dioxide,2019,2019,NaN

In [95]:
new_data2.groupby("PrimaryCategory")["ChemicalCount"].idxmax()

PrimaryCategory
Baby Products                        16798
Bath Products                        12035
Fragrances                           12039
Hair Care Products (non-coloring)    24663
Hair Coloring Products                5558
Makeup Products (non-permanent)      36111
Nail Products                         6979
Oral Hygiene Products                 1801
Personal Care Products               26069
Shaving Products                     12034
Skin Care Products                   33803
Sun-Related Products                  4398
Tattoos and Permanent Makeup         20971
Name: ChemicalCount, dtype: int64

In [96]:
max_idx = new_data2.groupby("PrimaryCategory")["ChemicalCount"].idxmax()

In [97]:
max_idxmax = max_idx.reset_index().sort_values(by = "ChemicalCount", ascending = False)

In [98]:
max_idxmax

                      PrimaryCategory  ChemicalCount
5     Makeup Products (non-permanent)          36111
10                Skin Care Products           33803
8              Personal Care Products          26069
3   Hair Care Products (non-coloring)          24663
12       Tattoos and Permanent Makeup          20971
0                       Baby Products          16798
2                          Fragrances          12039
1                       Bath Products          12035
9                    Shaving Products          12034
6                       Nail Products           6979
4              Hair Coloring Products           5558
11               Sun-Related Products           4398
7               Oral Hygiene Products           1801

In [99]:
# max_idxmax.to_csv("max_idxmax.csv")

# Q7- What is the distribution of discontinued products across different categories?

In [101]:
distribution_discontinued_products = new_data2.groupby("SubCategory")["DiscontinuedDate"].value_counts()

In [102]:
distribution_discontinued_products.reset_index()

                                  SubCategory DiscontinuedDate  count
0     Acne Products (making a cosmetic claim)       2014-03-01      3
1     Acne Products (making a cosmetic claim)       2013-07-01      2
2     Acne Products (making a cosmetic claim)       2013-12-31      2
3     Acne Products (making a cosmetic claim)       2016-11-30      2
4     Acne Products (making a cosmetic claim)       2009-06-22      1
...                                       ...              ...    ...
2433                      Underarm Deodorants       2012-04-11      1
2434                      Underarm Deodorants       2012-11-24      1
2435                      Underarm Deodorants       2013-02-10      1
2436                      Underarm Deodorants       2013-07-10      1
2437                      Underarm Deodorants       2015-02-06      1

[2438 rows x 3 columns]

In [103]:
# Which chemicals discontinued
# notna filters the rows where the discountinued date is not null
discontinued_chemicals = new_data2[new_data2["DiscontinuedDate"].notna()]

In [104]:
discontinued_chemicals.head()

,ProductName,BrandName,CompanyName,PrimaryCategory,SubCategory,InitialDateReported,DiscontinuedDate,ChemicalCreatedAt,ChemicalDateRemoved,ChemicalCount,ChemicalName,year,created_yr,removed_yr
20,(do not use),(do not use),Memebox Corporation,Makeup Products (non-permanent),"Lip Color - Lipsticks, Liners, and Pencils",2019-01-29,2017-01-01,2019-01-29,NaT,2,"Titanium dioxide, Carbon black",2019,2019,NaN
29,00 Foundation SPF 25,The Body Shop,"Buth-na-Bodhaige, Inc",Sun-Related Products,Sunscreen (making a cosmetic claim),2010-07-14,2013-07-10,2010-07-14,NaT,1,Titanium dioxide,2010,2010,NaN
36,01 & 02 Sun Lustre Bronzer - Spray Design,The Body Shop,"Buth-na-Bodhaige, Inc",Makeup Products (non-permanent),Eye Shadow,2010-02-22,2013-07-10,2010-02-22,NaT,1,Titanium dioxide,2010,2010,NaN
37,01 & 02 Sun Lustre Bronzer Shade: Radiant Blush,The Body Shop,"Buth-na-Bodhaige, Inc",Makeup Products (non-permanent),Eye Shadow,2010-03-23,2013-07-10,2010-03-23,NaT,1,Titanium dioxide,2010,2010,NaN
40,01 All In One Face Base,The Body Shop,"Buth-na-Bodhaige, Inc",Makeup Products (non-permanent),Foundations and Bases,2010-04-21,2014-02-10,2010-04-21,NaT,1,Titanium dioxide,2010,2010,NaN

In [105]:
sorted_discontinued_chemicals = discontinued_chemicals["ChemicalName"].value_counts().reset_index()

In [106]:
sorted_discontinued_chemicals.head(10)

                                        ChemicalName  count
0                                   Titanium dioxide   3841
1                            Cocamide diethanolamine    333
2  Retinol/retinyl esters, when in daily dosages ...    128
3  Mineral oils, untreated and mildly treated, Mi...     67
4  Retinol/retinyl esters, when in daily dosages ...     59
5                           Butylated hydroxyanisole     48
6                             Titanium dioxide, Mica     47
7  Titanium dioxide, Retinol/retinyl esters, when...     37
8                             Mica, Titanium dioxide     35
9  Cosmetic talc, Mica, Mineral oils, untreated a...     31

In [107]:
# sorted_discontinued_chemicals.to_csv("sorted_discontinued_chemicals.csv")

In [108]:
# print(mkup.columns)

# Q8- Top 10 companies with the most discontinued products?

In [110]:
most_discontinued_company_products = new_data2[new_data2["DiscontinuedDate"].notna()]

In [111]:
most_discontinued_company_products.head()

,ProductName,BrandName,CompanyName,PrimaryCategory,SubCategory,InitialDateReported,DiscontinuedDate,ChemicalCreatedAt,ChemicalDateRemoved,ChemicalCount,ChemicalName,year,created_yr,removed_yr
20,(do not use),(do not use),Memebox Corporation,Makeup Products (non-permanent),"Lip Color - Lipsticks, Liners, and Pencils",2019-01-29,2017-01-01,2019-01-29,NaT,2,"Titanium dioxide, Carbon black",2019,2019,NaN
29,00 Foundation SPF 25,The Body Shop,"Buth-na-Bodhaige, Inc",Sun-Related Products,Sunscreen (making a cosmetic claim),2010-07-14,2013-07-10,2010-07-14,NaT,1,Titanium dioxide,2010,2010,NaN
36,01 & 02 Sun Lustre Bronzer - Spray Design,The Body Shop,"Buth-na-Bodhaige, Inc",Makeup Products (non-permanent),Eye Shadow,2010-02-22,2013-07-10,2010-02-22,NaT,1,Titanium dioxide,2010,2010,NaN
37,01 & 02 Sun Lustre Bronzer Shade: Radiant Blush,The Body Shop,"Buth-na-Bodhaige, Inc",Makeup Products (non-permanent),Eye Shadow,2010-03-23,2013-07-10,2010-03-23,NaT,1,Titanium dioxide,2010,2010,NaN
40,01 All In One Face Base,The Body Shop,"Buth-na-Bodhaige, Inc",Makeup Products (non-permanent),Foundations and Bases,2010-04-21,2014-02-10,2010-04-21,NaT,1,Titanium dioxide,2010,2010,NaN

In [112]:
top10_comp_w_mst_discprod = most_discontinued_company_products["CompanyName"].value_counts()

In [113]:
top10_comp_w_mst_discprod = top10_comp_w_mst_discprod.reset_index()

In [114]:
top10_comp_w_mst_discprod = top10_comp_w_mst_discprod.nlargest(10, "count")

In [115]:
top10_comp_w_mst_discprod

                    CompanyName  count
0  The Procter & Gamble Company    586
1         Buth-na-Bodhaige, Inc    487
2                  New Avon LLC    360
3              Yves Rocher Inc.    260
4     Arbonne International LLC    256
5      Victoria's Secret Beauty    254
6         Elizabeth Arden, Inc.    192
7                     MAESA LLC    189
8          Kanebo Cosmetics Inc    169
9                      GUERLAIN    161

In [116]:
# top10_comp_w_mst_discprod.to_csv("top10_comp_w_mst_discprod.csv")

# Q9- What are the top 5 most frequently occurring chemicals across all products?

In [118]:
top5_most_freq_chem = new_data2["ChemicalName"].value_counts()

In [119]:
top5_most_freq_chem = top5_most_freq_chem.reset_index()

In [120]:
top5_most_freq_chem.head()

                                        ChemicalName  count
0                                   Titanium dioxide  31133
1                            Cocamide diethanolamine    938
2  Titanium dioxide, Silica, crystalline (airborn...    720
3  Retinol/retinyl esters, when in daily dosages ...    570
4                                  Retinyl palmitate    424

In [121]:
# top5_most_freq_chem.to_csv("top5_most_freq_chem.csv")

# Q10- How many products or chemicals were discontinued? Identify the most common chemicals in discontinued products.

In [123]:
# this shows the how many products were discontinued
number_discontinued_Product = new_data2['DiscontinuedDate'].count()

In [124]:
number_discontinued_Product

5143

In [125]:
# this shows the how many chemicals from the product were removed
number_discontinued_Chemicals = mkup.dropna(subset='ChemicalDateRemoved').drop_duplicates("ChemicalName")

In [126]:
number_discontinued_Chemicals.head()

,CDPHId,ProductName,CompanyName,BrandName,PrimaryCategory,SubCategory,ChemicalName,InitialDateReported,DiscontinuedDate,ChemicalCreatedAt,ChemicalDateRemoved,ChemicalCount
31,24,White Premium Lotion Soap,"GOJO Industries, Inc.",GOJO�,Personal Care Products,Hand Cleansers and Sanitizers,Cocamide diethanolamine,2009-07-23,NaT,2009-07-23,2010-12-30,0
36,29,Aloe Up Lil' Kids SPF 45 Aloe Based Sunscreen ...,"Aloecare International, LLC",Aloe Up Lil' Kids SPF 45 Aloe Based Sunscreen ...,Sun-Related Products,Sunscreen (making a cosmetic claim),Titanium dioxide,2009-08-11,NaT,2009-08-21,2009-08-21,1
432,269,Elizabeth Arden Green Tea Relaxing Bubble Bath,"Elizabeth Arden, Inc.",Elizabeth Arden,Bath Products,Bubble and Foam Bath Products,"Retinol/retinyl esters, when in daily dosages ...",2009-09-01,2013-05-13,2009-09-25,2009-09-29,1
501,335,Firming & Moisturizing Body Scrub,"Sunrider Manufacturing, L.P.",Oi-Lin,Bath Products,Scrubs and Exfoliants,Lauramide diethanolamine,2009-09-02,NaT,2009-09-02,2009-11-23,0
515,349,Body Lotion SPF-25,"Sunrider Manufacturing, L.P.",Oi-Lin,Skin Care Products,Skin Moisturizers (making a cosmetic claim),Coffee,2009-09-02,2010-01-01,2009-09-02,2010-01-01,0

In [127]:
# most common chemicals in discontinued products.
# notna filters the rows where the discountinued date is not null
discontinued_Product = new_data2[new_data2['DiscontinuedDate'].notna()]

In [128]:
discontinued_Product.head(1)

,ProductName,BrandName,CompanyName,PrimaryCategory,SubCategory,InitialDateReported,DiscontinuedDate,ChemicalCreatedAt,ChemicalDateRemoved,ChemicalCount,ChemicalName,year,created_yr,removed_yr
20,(do not use),(do not use),Memebox Corporation,Makeup Products (non-permanent),"Lip Color - Lipsticks, Liners, and Pencils",2019-01-29,2017-01-01,2019-01-29,NaT,2,"Titanium dioxide, Carbon black",2019,2019,NaN

In [129]:
# the most common chemicals in discontinued products
most_common_chemical = discontinued_Product['ChemicalName'].value_counts()

In [130]:
most_common_chemical

ChemicalName
Titanium dioxide                                                                                                                                                                                  3841
Cocamide diethanolamine                                                                                                                                                                            333
Retinol/retinyl esters, when in daily dosages in excess of 10,000 IU, or 3,000 retinol equivalents.                                                                                                128
Mineral oils, untreated and mildly treated, Mica, Titanium dioxide                                                                                                                                  67
Retinol/retinyl esters, when in daily dosages in excess of 10,000 IU, or 3,000 retinol equivalents., Titanium dioxide                                                                               59
                                                                                                                                                                                                  ...
1,4-Dioxane, Acetaldehyde, Benzene, Benzyl chloride, Ethylene oxide, Dichloromethane (Methylene chloride), N-Nitrosodimethylamine, Propylene oxide                                                   1
1,4-Dioxane, Acetaldehyde, Benzene, Benzyl chloride, Ethylene oxide, N-Nitrosodimethylamine, Propylene oxide                                                                                         1
Goldenseal root powder, Cocamide DEA                                                                                                                                                                 1
Goldenseal root powder                                                                                                                                                                               1
Titanium dioxide, Silica, crystalline (airborne particles of respirable size), Retinol/retinyl esters, when in daily dosages in excess of 10,000 IU, or 3,000 retinol equivalents., Acrylamide       1
Name: count, Length: 154, dtype: int64

In [131]:
# Ryan help me in this code using string operation to split columns
most_common_chemical_discontinued_Product = discontinued_Product['ChemicalName'].str.split(',')

In [132]:
most_common_chemical_discontinued_Product

20       [Titanium dioxide,  Carbon black]
29                      [Titanium dioxide]
36                      [Titanium dioxide]
37                      [Titanium dioxide]
40                      [Titanium dioxide]
                       ...
41302                       [Cocamide MEA]
41303                       [Cocamide MEA]
41304                       [Cocamide MEA]
41397            [Cocamide diethanolamine]
41402                   [Titanium dioxide]
Name: ChemicalName, Length: 5143, dtype: object

In [133]:
most_common_chemical_discontinued_Product = discontinued_Product['ChemicalName'].str.split(',', expand=True)

In [134]:
most_common_chemical_discontinued_Product

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
20,Titanium dioxide,Carbon black,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
29,Titanium dioxide,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
36,Titanium dioxide,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
37,Titanium dioxide,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
40,Titanium dioxide,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41302,Cocamide MEA,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
41303,Cocamide MEA,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
41304,Cocamide MEA,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
41397,Cocamide diethanolamine,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
41402,Titanium dioxide,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [135]:
most_common_chemical_discontinued_Product.reset_index()

,index,0,1,2,3,4,5,6,7,8,...,10,11,12,13,14,15,16,17,18,19
0,20,Titanium dioxide,Carbon black,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,29,Titanium dioxide,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,36,Titanium dioxide,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,37,Titanium dioxide,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,40,Titanium dioxide,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5138,41302,Cocamide MEA,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
5139,41303,Cocamide MEA,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
5140,41304,Cocamide MEA,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
5141,41397,Cocamide diethanolamine,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
5142,41402,Titanium dioxide,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [136]:
most_common_chemical_discontinued_Product= most_common_chemical_discontinued_Product[0].value_counts()

In [137]:
most_common_chemical_discontinued_Product = most_common_chemical_discontinued_Product.reset_index()

In [138]:
most_common_chemical_discontinued_Product = most_common_chemical_discontinued_Product.rename(columns={most_common_chemical_discontinued_Product.columns[0]:"Chemical Name"})

In [139]:
most_common_chemical_discontinued_Product.head()

              Chemical Name  count
0          Titanium dioxide   4020
1   Cocamide diethanolamine    348
2    Retinol/retinyl esters    194
3              Mineral oils     96
4  Butylated hydroxyanisole     89

In [140]:
most_common_chemical_discontinued_Product.to_csv("most_common_chemical_discontinued_Product.csv", index=False)

# Q11- Which PrimaryCategory, brandname, companyname, productname has the highest percentage of discontinued products?

# highest percentage of discontinued PrimaryCategory

In [143]:
#  finding if the prod is discontinue and saving it to a new df
discontinued_Product = new_data2[new_data2['DiscontinuedDate'].notna()]

In [144]:
discontinued_Product.head()

,ProductName,BrandName,CompanyName,PrimaryCategory,SubCategory,InitialDateReported,DiscontinuedDate,ChemicalCreatedAt,ChemicalDateRemoved,ChemicalCount,ChemicalName,year,created_yr,removed_yr
20,(do not use),(do not use),Memebox Corporation,Makeup Products (non-permanent),"Lip Color - Lipsticks, Liners, and Pencils",2019-01-29,2017-01-01,2019-01-29,NaT,2,"Titanium dioxide, Carbon black",2019,2019,NaN
29,00 Foundation SPF 25,The Body Shop,"Buth-na-Bodhaige, Inc",Sun-Related Products,Sunscreen (making a cosmetic claim),2010-07-14,2013-07-10,2010-07-14,NaT,1,Titanium dioxide,2010,2010,NaN
36,01 & 02 Sun Lustre Bronzer - Spray Design,The Body Shop,"Buth-na-Bodhaige, Inc",Makeup Products (non-permanent),Eye Shadow,2010-02-22,2013-07-10,2010-02-22,NaT,1,Titanium dioxide,2010,2010,NaN
37,01 & 02 Sun Lustre Bronzer Shade: Radiant Blush,The Body Shop,"Buth-na-Bodhaige, Inc",Makeup Products (non-permanent),Eye Shadow,2010-03-23,2013-07-10,2010-03-23,NaT,1,Titanium dioxide,2010,2010,NaN
40,01 All In One Face Base,The Body Shop,"Buth-na-Bodhaige, Inc",Makeup Products (non-permanent),Foundations and Bases,2010-04-21,2014-02-10,2010-04-21,NaT,1,Titanium dioxide,2010,2010,NaN

In [145]:
discontinued_counts = discontinued_Product.groupby(['PrimaryCategory']).size().reset_index(name='discontinued_count')

In [146]:
discontinued_counts=discontinued_counts.sort_values(by = 'discontinued_count', ascending = False)

In [147]:
discontinued_counts.head()

                      PrimaryCategory  discontinued_count
5     Makeup Products (non-permanent)                2713
10                Skin Care Products                  798
1                       Bath Products                 448
11               Sun-Related Products                 343
3   Hair Care Products (non-coloring)                 210

In [148]:
total_counts = new_data2.groupby(['PrimaryCategory']).size().reset_index(name='total_count')

In [149]:
total_counts.head(3)

  PrimaryCategory  total_count
0   Baby Products           48
1   Bath Products         2610
2      Fragrances          454

In [150]:
total_counts_disc_PrimaryCategory = pd.merge(discontinued_counts, total_counts, on='PrimaryCategory')

In [151]:
total_counts_disc_PrimaryCategory.head(3)

                   PrimaryCategory  discontinued_count  total_count
0  Makeup Products (non-permanent)                2713        19849
1              Skin Care Products                  798         6046
2                    Bath Products                 448         2610

In [152]:
total_counts_disc_PrimaryCategory['discontinued_percentage'] = (total_counts_disc_PrimaryCategory['discontinued_count'] / total_counts_disc_PrimaryCategory['total_count']) * 100

In [153]:
total_counts_disc_PrimaryCategory = total_counts_disc_PrimaryCategory.sort_values(by='discontinued_percentage', ascending=False)

In [154]:
total_counts_disc_PrimaryCategory.head()

,PrimaryCategory,discontinued_count,total_count,discontinued_percentage
7,Personal Care Products,138,442,31.221719
11,Baby Products,11,48,22.916667
6,Hair Coloring Products,143,683,20.937042
8,Fragrances,89,454,19.603524
3,Sun-Related Products,343,1863,18.411165

# highest percentage of discontinued brandname

In [156]:
disc_brand = discontinued_Product.groupby(['BrandName']).size().reset_index(name='discontinued_count')

In [157]:
disc_brand.head()

             BrandName  discontinued_count
0            Mary Kay                    1
1         (do not use)                   1
2  100% natural origin                   2
3                 1006                   2
4            3 minutes                   1

In [158]:
disc_brand=disc_brand.sort_values(by = 'discontinued_count', ascending = False)

In [159]:
disc_brand.head()

                    BrandName  discontinued_count
435             The Body Shop                 486
9                        AVON                 286
453  Victoria's Secret Beauty                 254
104                 CoverGirl                 208
10                 About Face                 173

In [160]:
total_counts_disc_brand = new_data2.groupby(['BrandName']).size().reset_index(name='total_count')

In [161]:
total_counts_disc_brand.head(3)

                  BrandName  total_count
0   Anastasia Beverly HIlls            1
1             Entity Nudite            1
2                Gap Outlet            1

In [162]:
total_counts_disc_brand = total_counts_disc_brand.sort_values(by = 'total_count', ascending = False)

In [163]:
total_counts_disc_brand.head()

                     BrandName  total_count
2424             The Body Shop         1076
1929                    Revlon         1060
1007                    Gelish          832
144    Anastasia Beverly Hills          788
2533  Victoria's Secret Beauty          744

In [164]:
merged_disc_brand = pd.merge(disc_brand, total_counts_disc_brand, on='BrandName')

In [165]:
merged_disc_brand.head(3)

                  BrandName  discontinued_count  total_count
0             The Body Shop                 486         1076
1                      AVON                 286          505
2  Victoria's Secret Beauty                 254          744

In [166]:
merged_disc_brand = merged_disc_brand.sort_values(by = 'total_count', ascending = False)

In [167]:
merged_disc_brand.head()

                   BrandName  discontinued_count  total_count
0              The Body Shop                 486         1076
14                    Revlon                  84         1060
19   Anastasia Beverly Hills                  61          788
2   Victoria's Secret Beauty                 254          744
6          Bath & Body Works                 135          507

In [168]:
merged_disc_brand['discontinued_percentage'] = (merged_disc_brand['discontinued_count'] / merged_disc_brand['total_count']) * 100

In [169]:
merged_disc_brand.head()

,BrandName,discontinued_count,total_count,discontinued_percentage
0,The Body Shop,486,1076,45.167286
14,Revlon,84,1060,7.924528
19,Anastasia Beverly Hills,61,788,7.741117
2,Victoria's Secret Beauty,254,744,34.139785
6,Bath & Body Works,135,507,26.627219

# highest percentage of discontinued per companyname

In [171]:
disc_companyname = discontinued_Product.groupby(['CompanyName']).size().reset_index(name='discontinued_count')

In [172]:
disc_companyname.head()

                CompanyName  discontinued_count
0                   AFFLINK                   8
1        AMCO International                   4
2             APLICARE, INC                  15
3          Added Extras LLC                   1
4  Alberto Culver USA, Inc.                   4

In [173]:
disc_companyname = disc_companyname.sort_values(by = 'discontinued_count', ascending = False)

In [174]:
disc_companyname.head()

                      CompanyName  discontinued_count
165  The Procter & Gamble Company                 586
24          Buth-na-Bodhaige, Inc                 487
115                  New Avon LLC                 360
183              Yves Rocher Inc.                 260
7       Arbonne International LLC                 256

In [175]:
total_counts_disc_company = new_data2.groupby(['CompanyName']).size().reset_index(name='total_count')

In [176]:
total_counts_disc_company.head(3)

            CompanyName  total_count
0  2355644 Ontario Inc.            1
1  A. P. Deauville, LLC            1
2        ACQUA DI PARMA           19

In [177]:
total_counts_disc_company = total_counts_disc_company.sort_values(by = 'total_count', ascending = False)

In [178]:
total_counts_disc_company.head()

                             CompanyName  total_count
28     American International Industries         1973
359               Nail Alliance - Entity         1586
453  Revlon Consumer Product Corporation         1472
8                   AMOREPACIFIC US INC.         1152
84                 Buth-na-Bodhaige, Inc         1113

In [179]:
merged_disc_company = pd.merge(disc_companyname, total_counts_disc_company, on='CompanyName')

In [180]:
merged_disc_company.head(3)

                    CompanyName  discontinued_count  total_count
0  The Procter & Gamble Company                 586         1044
1         Buth-na-Bodhaige, Inc                 487         1113
2                  New Avon LLC                 360          759

In [181]:
merged_disc_company = merged_disc_company.sort_values(by = 'total_count', ascending = False)

In [182]:
merged_disc_company.head()

                             CompanyName  discontinued_count  total_count
13   Revlon Consumer Product Corporation                 112         1472
1                  Buth-na-Bodhaige, Inc                 487         1113
0           The Procter & Gamble Company                 586         1044
185                                   S+                   1          915
16          Anastasia Beverly Hills, LLC                  61          888

In [183]:
merged_disc_company['discontinued_percentage'] = (merged_disc_company['discontinued_count'] / merged_disc_company['total_count']) * 100

In [184]:
merged_disc_company.head()

,CompanyName,discontinued_count,total_count,discontinued_percentage
13,Revlon Consumer Product Corporation,112,1472,7.608696
1,"Buth-na-Bodhaige, Inc",487,1113,43.755615
0,The Procter & Gamble Company,586,1044,56.130268
185,S+,1,915,0.109290
16,"Anastasia Beverly Hills, LLC",61,888,6.869369

# Q12- Which company has reported the largest number of products? How many products does each company have on average?

In [186]:
largest_product = new_data2.groupby('CompanyName')['ProductName'].count().sort_values(ascending=False).reset_index()

In [187]:
largest_product = largest_product.rename(columns = {'ProductName':'largestnumberofproducts'})

In [188]:
largest_product.nlargest(1, 'largestnumberofproducts')

                         CompanyName  largestnumberofproducts
0  American International Industries                     1973

In [189]:
product_counts = new_data2.groupby('CompanyName')['ProductName'].count()

In [190]:
product_counts

CompanyName
2355644 Ontario Inc.                       1
A. P. Deauville, LLC                       1
ACQUA DI PARMA                            19
AFFLINK                                    8
AG PROFESSIONAL HAIR CARE PRODUCTS LTD     4
                                          ..
laboratoire Sintyl SA                     12
purminerals                               86
rolland srl                               21
salerm cosm�tica profesional,Inc.         38
theBalm                                   16
Name: ProductName, Length: 606, dtype: int64

In [191]:
average_products_per_company = product_counts.mean()

In [192]:
average_products_per_company

68.33003300330033

# Q13- Which product has the highest number of chemicals associated with it?

In [194]:
# checking which product has the highest number of chemicals
new_data2.loc[new_data2["ChemicalCount"].idxmax()]

ProductName                                         Moisturizing Shampoo
BrandName                                              Regis Design Line
CompanyName                                            Regis Corporation
PrimaryCategory                        Hair Care Products (non-coloring)
SubCategory                     Hair Shampoos (making a cosmetic claim)
InitialDateReported                                  2014-02-04 00:00:00
DiscontinuedDate                                                     NaT
ChemicalCreatedAt                                    2014-02-04 00:00:00
ChemicalDateRemoved                                                  NaT
ChemicalCount                                                          9
ChemicalName           1,4-Dioxane, Acrylamide, Arsenic (inorganic ar...
year                                                                2014
created_yr                                                          2014
removed_yr                                                           NaN
Name: 24663, dtype: object

In [195]:
high_chemical_mkup = new_data2.sort_values(by = "ChemicalCount", ascending = False)

In [196]:
high_chemical_mkup.head()

,ProductName,BrandName,CompanyName,PrimaryCategory,SubCategory,InitialDateReported,DiscontinuedDate,ChemicalCreatedAt,ChemicalDateRemoved,ChemicalCount,ChemicalName,year,created_yr,removed_yr
24663,Moisturizing Shampoo,Regis Design Line,Regis Corporation,Hair Care Products (non-coloring),Hair Shampoos (making a cosmetic claim),2014-02-04,NaT,2014-02-04,NaT,9,"1,4-Dioxane, Acrylamide, Arsenic (inorganic ar...",2014,2014,NaN
18324,Interrupt Texturizing Clay,Regis Design Line,Regis Corporation,Hair Care Products (non-coloring),Hair Styling Products,2009-10-12,NaT,2014-02-04,NaT,8,"Titanium dioxide, Arsenic (inorganic arsenic c...",2009,2014,NaN
37199,Texture Cream,Mastercuts,Regis Corporation,Hair Care Products (non-coloring),Hair Styling Products,2009-10-13,2013-04-01,2009-10-13,NaT,8,"1,4-Dioxane, Acetaldehyde, Benzene, Benzyl chl...",2009,2009,NaN
37200,Texture Cream Casual Styler,Regis Design Line,Regis Corporation,Hair Care Products (non-coloring),Hair Styling Products,2009-10-12,NaT,2009-10-12,NaT,8,"1,4-Dioxane, Acetaldehyde, Benzene, Benzyl chl...",2009,2009,NaN
18322,Interrupt Texturizing Clay,Regis Design Line,Regis Corporation,Hair Care Products (non-coloring),Hair Styling Products,2009-10-12,NaT,2009-10-12,2014-02-04,8,Trade Secret,2009,2009,2014.0

# Q14-# how many unique chemicals are used in each combination of Brand, Primary Category, and Subcategory?

In [198]:
brand_primary_subcategory_chemicals = new_data2.groupby(['BrandName', 'PrimaryCategory', 'SubCategory', 'ChemicalName'])['ChemicalName'].nunique().reset_index(name='UniqueChemicalCount')

In [199]:
brand_primary_subcategory_chemicals.head()

,BrandName,PrimaryCategory,SubCategory,ChemicalName,UniqueChemicalCount
0,Anastasia Beverly HIlls,Makeup Products (non-permanent),Eyeliner/Eyebrow Pencils,Titanium dioxide,1
1,Entity Nudite,Nail Products,Artificial Nails and Related Products,Titanium dioxide,1
2,Gap Outlet,Makeup Products (non-permanent),Lip Gloss/Shine,Titanium dioxide,1
3,Hard Candy,Makeup Products (non-permanent),Eye Shadow,Titanium dioxide,1
4,Innisfree,Makeup Products (non-permanent),Lip Balm (making a cosmetic claim),Titanium dioxide,1

In [200]:
brand_primary_subcategory_chemicals = brand_primary_subcategory_chemicals.sort_values(by="UniqueChemicalCount", ascending=False)

In [201]:
brand_primary_subcategory_chemicals.head()

,BrandName,PrimaryCategory,SubCategory,ChemicalName,UniqueChemicalCount
0,Anastasia Beverly HIlls,Makeup Products (non-permanent),Eyeliner/Eyebrow Pencils,Titanium dioxide,1
6404,Nioxin,Hair Care Products (non-coloring),Hair Styling Products,Titanium dioxide,1
6826,Palladio,Makeup Products (non-permanent),"Lip Color - Lipsticks, Liners, and Pencils","Titanium dioxide, Mica",1
6827,Palladio,Makeup Products (non-permanent),"Lip Color - Lipsticks, Liners, and Pencils","Titanium dioxide, Mica, Silica, crystalline (a...",1
6828,Palladio,Makeup Products (non-permanent),"Lip Color - Lipsticks, Liners, and Pencils","Titanium dioxide, Titanium dioxide",1

In [202]:
brand_primary_subcategory_chemicals = brand_primary_subcategory_chemicals.sort_values(by="UniqueChemicalCount", ascending=False)

In [203]:
brand_primary_subcategory_chemicals.head()

,BrandName,PrimaryCategory,SubCategory,ChemicalName,UniqueChemicalCount
0,Anastasia Beverly HIlls,Makeup Products (non-permanent),Eyeliner/Eyebrow Pencils,Titanium dioxide,1
5121,Lucrece SPF Light Tint,Sun-Related Products,Sunscreen (making a cosmetic claim),Titanium dioxide,1
9,Mary Kay,Makeup Products (non-permanent),Eyeliner/Eyebrow Pencils,Titanium dioxide,1
2,Gap Outlet,Makeup Products (non-permanent),Lip Gloss/Shine,Titanium dioxide,1
3,Hard Candy,Makeup Products (non-permanent),Eye Shadow,Titanium dioxide,1

In [204]:
brand_primary_subcategory_chemicals["chemical_name_list"] = brand_primary_subcategory_chemicals["ChemicalName"].str.split(", ")

In [205]:
brand_primary_subcategory_chemicals.head()

,BrandName,PrimaryCategory,SubCategory,ChemicalName,UniqueChemicalCount,chemical_name_list
0,Anastasia Beverly HIlls,Makeup Products (non-permanent),Eyeliner/Eyebrow Pencils,Titanium dioxide,1,[Titanium dioxide]
5121,Lucrece SPF Light Tint,Sun-Related Products,Sunscreen (making a cosmetic claim),Titanium dioxide,1,[Titanium dioxide]
9,Mary Kay,Makeup Products (non-permanent),Eyeliner/Eyebrow Pencils,Titanium dioxide,1,[Titanium dioxide]
2,Gap Outlet,Makeup Products (non-permanent),Lip Gloss/Shine,Titanium dioxide,1,[Titanium dioxide]
3,Hard Candy,Makeup Products (non-permanent),Eye Shadow,Titanium dioxide,1,[Titanium dioxide]

In [206]:
# brand_primary_subcategory_chemicals["unique_chemical_name_list2"] = brand_primary_subcategory_chemicals["chemical_name_list"].map(set).map(list)

In [207]:
# Charlie helps me to bring the unique chemicals names
brand_primary_subcategory_chemicals["unique_chemical_name_list"] = brand_primary_subcategory_chemicals["chemical_name_list"].apply(lambda x: list({item for item in x}))

TypeError: 'numpy.ndarray' object is not callable

In [ ]:
brand_primary_subcategory_chemicals.head()